<!-- details page -->
<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li title="Basic Startup" class="sidelist parent active">

            </div>
            <div class="column is-8-desktop is-12-tablet">
                <div class="px-4">
                    <h2 class="mb-4 has-text-weight-medium"></h2>
                    <div class="content">
                        <h2 class="has-text-light">List of Games</h2>
                        <ul>
                            <% for( let i = 0; i < games.length; i++ ) { %>
                            <% let game = games[i] %>
                            <a href="/games/<%= game.id %>">
                                <li><%= game.name %></li>
                            </a>
                            <% } %>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
</section>
<!-- /details page -->