<!-- banner -->

<body>
    <section class="section pb-0">
        <div class="container">
            <div class="columns is-justify-content-space-between is-align-items-center">
                <div
                    class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
                    <h1 class="mb-4">Steam Wishlist Price Checker</h1>
                    <p class="mb-4">To view your Steam ID: <br>
                        Select your Steam username, locate the URL field beneath the
                        Community header. Your Steam ID is
                        the number at the end of the URL.</p>
                    <div class="navbar-end ml-0">
                        <div class="navbar-item py-0">
                            <a href="/wishlist/search" class="btn btn-sm btn-primary ml-4">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="column is-4-desktop hidden-on-tablet">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Steam_icon_logo.svg"
                        alt="illustration" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</body>
<!-- /banner -->