<section class="section">
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-8-desktop">
                <h2 class="mb-5 has-text-weight-medium">Search result for <span class="text-primary"><%= item %></span>
                </h2>
                <div class="p-6 shadow rounded">
                    <div class="has-text-centered"><img class="img-fluid" src="">
                        <h3>Not Found</h3>
                        <br aria-hidden="true" />
                        <a href="/wishlist" class="btn btn-sm btn-primary ml-4">Back to wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>