<section class="section">
    <div class="container">
        <div class="columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="p-6 shadow rounded content">
                    <h2 class="section-title has-text-light">Enter Steam ID</h2>
                    <form method="POST" action="/wishlist">
                        <div class="columns is-multiline">
                            <div class="form-group column is-12">
                                <label for="item">To view your Steam ID: <br>
                                    Select your Steam username, locate the URL field beneath the
                                    Community header. Your Steam ID is
                                    the number at the end of the URL.</p></label>
                                <input type="text" class="input" id="item" name="item" placeholder="STEAM ID" required>
                            </div>
                            <div class="column is-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>